.menu {

	@media #{$max_lg} {
		position: absolute;
		top: 100%;
		right: 0;

		background: $fade;
		border: 1px solid $mist;
		border-right: 0;
		border-top: 0;
		opacity: 0;
		padding: 10px 0;
		pointer-events: none;
		transform: translate(20px, 0);
		transition:
			opacity .15s,
			transform .15s;
	}

	@media #{$min_lg} {
		margin-bottom: 45px;
	}

	&.visible {

		@media #{$max_lg} {
			opacity: 1;
			pointer-events: auto;
			transform: translate(0, 0);
		}
	}
}