.page {
	color: $dark;
	margin: 0;

	@media #{$min_lg} {
		display: flex;
	}
}

.main {
	background: $fade;
	padding-top: 60px;

	@media #{$min_lg} {
		border-bottom: 1px solid $mist;
		flex: auto;
		padding-top: 0;
	}
}