.site {
	position: relative;
}

.site_name {
	font-size: 16px;
	margin: 0;
}

.site_trigger {
	align-items: center;
	background: none;
	border: 0;
	cursor: pointer;
	display: flex;
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	text-align: left;
}

.site_trigger_label {}

.site_trigger_icon {
	transform:
		rotateX(0deg)
		scale(.85);

	.site_links_active & {
		transform:
			rotateX(180deg)
			scale(.85);
	}
}

.site_links {
	width: 100%;

	position: absolute;
	top: 100%;
	z-index: 2;

	background: $green;
	border: 2px solid $lime;
	border-radius: 3px;
	display: none;
	list-style: none;
	margin: 0;
	padding: 10px;

	.site_links_active & {
		display: block;
	}
}

.site_link {
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 6px 10px 5px;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition:
		background .15s,
		text-decoration-color .15s;

	&:hover,
	&:focus {
		background: $lime;
		text-decoration-color: #fff;
	}
}
