.user {
	align-items: center;
	display: flex;
}

.user_icon {
	color: $primary_color;
	margin-right: -5px;
	transform: scale(.65);
	transform-origin: left center;
}

.user_label {
	font-size: 12px;
}
