/*-----------------------------------------------------------------------------------
  Global Reset v0.2 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
 	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; }
 	img { vertical-align: middle; }
	body { background: url(../images/footer-pattern.png); color: #666; font-family: Helvetica, sans-serif; font-size: 12px; line-height: 1; }
	ul { list-style: none; }
	ol { margin-bottom: 10px; margin-left: 18px; }
	ol li { font-size: 12px; line-height: 18px; }
	p { font-size: 12px; line-height: 16px; margin: 0 0 10px 0; }
	p:last-child { margin: 0; }
	p small { font-size: 10px; }
 	:focus { outline: 0; }
 	:invalid { box-shadow: none; }
	table { border-collapse: collapse; border-spacing: 0; }
	a { color: #436D86; text-decoration: none; }
	header, footer, nav, summary, section, article { display: block; }
	.clear { clear: both; }
	body { overflow-y: scroll; }
	
	/* Hack To Stop WebKit From Styling input[type=search] */
	input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; }
	input::-webkit-search-decoration, input::-webkit-search-cancel-button { display: none; }

	h2 { float: left; font-size: 18px; font-weight: normal; height: 32px; line-height: 30px; padding: 5px 0 0 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); }
	
	
	/* Installer Styles */
	body.install { background: url(../images/login-bg.png), url(../images/repeat-bg.png); background-repeat: repeat-x, repeat; background-position: top center, top center; background-attachment: fixed, scroll; }
	.install_wrapper { margin: 0 auto; padding: 75px 0 25px; width: 650px; }
	.install_wrapper hr { border: 1px solid #fff; border-top-color: #eee; margin: 20px 0; }
	.install_wrapper h1 { color: #FFF; font-size: 30px; font-weight: normal; margin: 0 0 25px 0; text-align: center; text-shadow: 0 1px 0 #000; }
	.install_wrapper form { background: #FFF; border: 1px solid #CCCCCC; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 1); overflow: hidden; padding: 30px 0 0; }
	.install_wrapper h2 { color: #444; font-size: 20px; font-weight: normal; line-height: 30px; overflow: hidden; margin: 0 30px 5px; padding: 0; text-shadow: 0 1px 0 #FFF; }
	.install_wrapper h2 span { background: url(../images/icons-install.png) no-repeat; display: block; float: left; height: 25px; margin: 0 5px 0 0; width: 25px; }
	.install_wrapper h2.database span { background-position: -25px 2px; width: 20px; }
	.install_wrapper h2.security span { background-position: -45px 4px; margin-right: 7px; width: 23px; }
	.install_wrapper h2.account span { background-position: -68px 1px; margin-right: 7px; width: 23px; }
	.install_wrapper h2.example span { background-position: -91px 3px; margin-right: 7px; width: 23px; }
	.install_wrapper fieldset { padding: 0 30px; }
	.install_wrapper fieldset.left { float: left; padding: 0 0 0 30px; }
	.install_wrapper fieldset.right { float: right; padding: 0 30px 0 0; }
	.install_wrapper label { color: #666; display: block; font-size: 13px; margin: 0 0 12px 0; }
	.install_wrapper input.text { border: 1px solid #CCC; border-radius: 3px; color: #666; display: block; height: 32px; margin: 0 0 20px 0; padding: 0 10px; width: 260px; }
	.install_wrapper input.text:last-child { margin: 0; }
	.install_wrapper p { clear: both; color: #666; font-size: 13px; line-height: 1.3; margin: 0; }
	.install_wrapper p small { color: #999; display: block; float: left; font-size: 10px; text-transform: uppercase; width: 100px; }
	.install_wrapper fieldset.lower { background: #F5F5F5; border-top: 1px solid #E5E5E5; margin: 30px 0 0; padding: 25px 30px; }
	.install_wrapper .forgot_password { color: #666; float: right; line-height: 36px; }
	.install_wrapper .forgot_password:hover { color: #3E667D; }
	.install_wrapper .error_message { background: #990000; border-radius: 2px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); color: #FFF; font-size: 12px; line-height: 18px; margin: 0 30px 10px 30px; padding: 5px 10px; text-shadow: 0px -1px 0 rgba(0,0,0,0.25); }
	.install_wrapper .warning_message { background: #D58410; border-radius: 2px; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); color: #FFF; font-size: 12px; line-height: 18px; margin: 0 30px 10px 30px; padding: 5px 10px; text-shadow: 0px -1px 0 rgba(0,0,0,0.25); }
	.install_logo { background: url(../images/logo.png) no-repeat center; display: block; height: 36px; margin: 40px auto 0; width: 151px; text-indent: -99999px; }
	.install_copyright { color: #777; display: block; margin: 25px auto 0; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5); width: 100px; }
	.install_copyright:hover { color: #ccc; }
	
	label.for_checkbox { cursor: pointer; line-height: 17px; margin: 0; user-select: none; }
	.checkbox { float: left; margin: 0 7px 0 0; }
	.checkbox a { background: url(../images/checkbox-sprite.png); cursor: pointer; display: block; height: 16px; width: 16px; }
	.checkbox a.checked { background-position: 0px 16px; }
	.checkbox a.focused { background-position: -16px 0px; }
	.checkbox a.checked.focused { background-position: -16px 16px; }
	
	.form_error label { color: #990000; }
	.form_error input[type=text], .form_error input[type=password], .form_error input[type=email], .form_error input[type=url] { background: #FCE8E8; border-color: #990000; }
	
	input[type=submit], a.button { background: #BBB url(../images/button-bg.png) repeat-x; border: 1px solid #CCCCCC; border-radius: 5px; color: #333; cursor: pointer; font-family: Helvetica, sans-serif; font-size: 14px; height: 36px; line-height: 14px; padding: 10px 18px 12px 18px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75); transition: background-color 0.2s, border-color 0.2s; }
	input[type=submit].blue, a.button.blue { background: #3E667D url(../images/button-bg-dark.png) repeat-x; border: 1px solid #243D4C; color: #FFF; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.5); }
	input[type=submit].blue:hover, a.button.blue:hover { background-color: #4f829f; }
	