[submodule "core/inc/lib/phpseclib"]
	path = core/inc/lib/phpseclib
	url = https://github.com/phpseclib/phpseclib
[submodule "core/inc/lib/less.php"]
	path = core/inc/lib/less.php
	url = https://github.com/oyejorge/less.php
[submodule "core/inc/lib/PHPMailer"]
	path = core/inc/lib/PHPMailer
	url = https://github.com/PHPMailer/PHPMailer
[submodule "core/inc/lib/JShrink"]
	path = core/inc/lib/JShrink
	url = https://github.com/tedious/JShrink
[submodule "core/inc/lib/Text-Statistics"]
	path = core/inc/lib/Text-Statistics
	url = https://github.com/DaveChild/Text-Statistics.git