/* Reset */
.BigTreeSkin table, .BigTreeSkin tbody, .BigTreeSkin a, .BigTreeSkin img, .BigTreeSkin tr, .BigTreeSkin div, .BigTreeSkin td, .BigTreeSkin iframe, .BigTreeSkin span, .BigTreeSkin *, .BigTreeSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.BigTreeSkin a:hover, .BigTreeSkin a:link, .BigTreeSkin a:visited, .BigTreeSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.BigTreeSkin table td {vertical-align:middle}

/* Containers */
.BigTreeSkin table {background:transparent}
.BigTreeSkin iframe {display:block;}
.BigTreeSkin .mceToolbar {height:26px}

/* External */
.BigTreeSkin .mceExternalToolbar {position:absolute; border:1px solid #ABC6DD; border-bottom:0; display:none}
.BigTreeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.BigTreeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(img/icons.png) -820px 0}

/* Layout */
.BigTreeSkin table.mceLayout {border:0; border: 1px solid #CCC; border-radius: 2px; }
.BigTreeSkin table.mceLayout tr.mceFirst td { }
.BigTreeSkin table.mceLayout tr.mceLast td { }
.BigTreeSkin table.mceToolbar, .BigTreeSkin tr.mceFirst .mceToolbar tr td, .BigTreeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.BigTreeSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.BigTreeSkin td.mceToolbar{ background: #eee; }
.BigTreeSkin .mceStatusbar {background: #eee; display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000;height:20px; }
.BigTreeSkin .mceStatusbar div {float:left; padding:2px 4px; font-size:10px; }
.BigTreeSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(img/icons.png) -788px 0; margin: 0 0 0 0; padding: 0 5px 5px 0; width:18px; height:14px; cursor:ns-resize; outline:0}
.BigTreeSkin .mceStatusbar a:hover {text-decoration:underline}
.BigTreeSkin table.mceToolbar {margin: 2px 4px;}
.BigTreeSkin table.mceToolbarRow2 { margin-top: -2px; }
.BigTreeSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; margin-left:3px;}
.BigTreeSkin .mceToolbar td.mceFirst span {margin:0}
.BigTreeSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -23px 0; width:1px; height:22px}
.BigTreeSkin .mceToolbar .mceToolbarEndListBox span, .BigTreeSkin .mceToolbar .mceToolbarStartListBox span {display:none}
.BigTreeSkin span.mceIcon, .BigTreeSkin img.mceIcon {display:block; width:20px; height:20px}
.BigTreeSkin .mceIcon {background:url(img/icons.png) no-repeat 20px 20px}
.BigTreeSkin td.mceCenter {text-align:center;}
.BigTreeSkin td.mceCenter table {margin:0 auto; text-align:left;}
.BigTreeSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.BigTreeSkin .mceButton {display:block; background:url(img/button_bg.png); width:23px; height:22px}
.BigTreeSkin a.mceButton span, .BigTreeSkin a.mceButton img {margin-left:1px; cursor: pointer;}
.BigTreeSkin .mceOldBoxModel a.mceButton span, .BigTreeSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.BigTreeSkin a.mceButtonEnabled:hover {background-color:#B2BBD0; background-position:0 -22px}
.BigTreeSkin a.mceButtonActive, .BigTreeSkin a.mceButtonSelected {background-position:0 -44px}
.BigTreeSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.BigTreeSkin .mceButtonLabeled {width:auto}
.BigTreeSkin .mceButtonLabeled span.mceIcon {float:left;}
.BigTreeSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.BigTreeSkin .mceButtonDisabled .mceButtonLabel {color:#888}
.BigTreeSkin a.mceButtonDisabled span{ cursor: default; }

/* Separator */
.BigTreeSkin .mceSeparator {display:block; background:url(img/button_bg.png) -23px 0; width:5px; height:22px}

/* ListBox */
.BigTreeSkin .mceListBox  {padding-left: 3px}
.BigTreeSkin .mceListBox, .BigTreeSkin .mceListBox a {display:block}
.BigTreeSkin .mceListBox .mceText {padding-left:4px; text-align:left; width:70px; border:1px solid #ccc; border-right:0; background:#fff; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden; cursor: pointer;}
.BigTreeSkin .mceListBox .mceOpen {width:14px; height:22px; background:url(img/button_bg.png) -66px 0; cursor: pointer;}
.BigTreeSkin table.mceListBoxEnabled:hover .mceText, .BigTreeSkin .mceListBoxHover .mceText, .BigTreeSkin .mceListBoxSelected .mceText {background:#FFF}
.BigTreeSkin table.mceListBoxEnabled:hover .mceOpen, .BigTreeSkin .mceListBoxHover .mceOpen, .BigTreeSkin .mceListBoxSelected .mceOpen {background-position:-66px -22px}
.BigTreeSkin .mceListBoxDisabled .mceText {color:gray}
.BigTreeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden; margin-left:3px}
.BigTreeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.BigTreeSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.BigTreeSkin .mceSplitButton, .BigTreeSkin .mceSplitButton a, .BigTreeSkin .mceSplitButton span {display:block; height:22px; direction:ltr}
.BigTreeSkin .mceSplitButton {background:url(img/button_bg.png)}
.BigTreeSkin .mceSplitButton a.mceAction {width:23px}
.BigTreeSkin .mceSplitButton span.mceAction {width:23px; background-image:url(img/icons.png)}
.BigTreeSkin .mceSplitButton a.mceOpen {width:10px; background:url(img/button_bg.png) -44px 0}
.BigTreeSkin .mceSplitButton span.mceOpen {display:none}
.BigTreeSkin table.mceSplitButtonEnabled:hover a.mceAction, .BigTreeSkin .mceSplitButtonHover a.mceAction, .BigTreeSkin .mceSplitButtonSelected {background:url(img/button_bg.png) 0 -22px}
.BigTreeSkin table.mceSplitButtonEnabled:hover a.mceOpen, .BigTreeSkin .mceSplitButtonHover a.mceOpen, .BigTreeSkin .mceSplitButtonSelected a.mceOpen {background-position:-44px -44px}
.BigTreeSkin .mceSplitButtonDisabled .mceAction {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.BigTreeSkin .mceSplitButtonActive {background-position:0 -44px}

/* ColorSplitButton */
.BigTreeSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.BigTreeSkin .mceColorSplitMenu td {padding:2px}
.BigTreeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.BigTreeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.BigTreeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.BigTreeSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.BigTreeSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.BigTreeSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a;overflow:hidden}
.BigTreeSkin .mce_forecolor span.mceAction, .BigTreeSkin .mce_backcolor span.mceAction {height:15px;overflow:hidden}

/* Menu */
.BigTreeSkin .mceMenu {position:absolute; left:0; top:-1px; z-index:1000; border:1px solid #ccc; }
.BigTreeSkin .mceNoIcons span.mceIcon {width:0;}
.BigTreeSkin .mceNoIcons a .mceText {padding-left:10px}
.BigTreeSkin .mceMenu table {background:#FFF}
.BigTreeSkin .mceMenu a, .BigTreeSkin .mceMenu span, .BigTreeSkin .mceMenu {display:block}
.BigTreeSkin .mceMenu td {height:20px}
.BigTreeSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.BigTreeSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.BigTreeSkin .mceMenu span.mceText, .BigTreeSkin .mceMenu .mcePreview {font-size:11px}
.BigTreeSkin .mceMenu pre.mceText {font-family:Monospace}
.BigTreeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:23px;}
.BigTreeSkin .mceMenu .mceMenuItemEnabled a:hover, .BigTreeSkin .mceMenu .mceMenuItemActive {background-color:#E0EAF0}
.BigTreeSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.BigTreeSkin .mceMenuItemTitle a {border:0; background:#E0EAF0; border-bottom:1px solid #ccc; cursor: pointer;}
.BigTreeSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px; cursor: pointer;}
.BigTreeSkin .mceMenuItemDisabled .mceText {color:#888}
.BigTreeSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.BigTreeSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.BigTreeSkin .mceMenu span.mceMenuLine {display:none}
.BigTreeSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}
.BigTreeSkin .mceMenuItem td, .BigTreeSkin .mceMenuItem th {line-height: normal}

/* Progress,Resize */
.BigTreeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=50); background:#FFF}
.BigTreeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.BigTreeSkin .mce_formatPreview a {font-size:10px; cursor: pointer;}
.BigTreeSkin .mce_p span.mceText {cursor: pointer;}
.BigTreeSkin .mce_address span.mceText {font-style:italic; cursor: pointer;}
.BigTreeSkin .mce_pre span.mceText {font-family:monospace; cursor: pointer;}
.BigTreeSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em; cursor: pointer;}
.BigTreeSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em; cursor: pointer;}
.BigTreeSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em; cursor: pointer;}
.BigTreeSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em; cursor: pointer;}
.BigTreeSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em; cursor: pointer;}
.BigTreeSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em; cursor: pointer;}

/* Theme */
.BigTreeSkin span.mce_bold {background-position:0 0}
.BigTreeSkin span.mce_italic {background-position:-60px 0}
.BigTreeSkin span.mce_underline {background-position:-140px 0}
.BigTreeSkin span.mce_strikethrough {background-position:-120px 0}
.BigTreeSkin span.mce_undo {background-position:-160px 0}
.BigTreeSkin span.mce_redo {background-position:-100px 0}
.BigTreeSkin span.mce_cleanup {background-position:-40px 0}
.BigTreeSkin span.mce_bullist {background-position:-20px 0}
.BigTreeSkin span.mce_numlist {background-position:-80px 0}
.BigTreeSkin span.mce_justifyleft {background-position:-460px 0}
.BigTreeSkin span.mce_justifyright {background-position:-480px 0}
.BigTreeSkin span.mce_justifycenter {background-position:-420px 0}
.BigTreeSkin span.mce_justifyfull {background-position:-440px 0}
.BigTreeSkin span.mce_anchor {background-position:-200px 0}
.BigTreeSkin span.mce_indent {background-position:-400px 0}
.BigTreeSkin span.mce_outdent {background-position:-540px 0}
.BigTreeSkin span.mce_link {background-position:-500px 0}
.BigTreeSkin span.mce_unlink {background-position:-640px 0}
.BigTreeSkin span.mce_sub {background-position:-600px 0}
.BigTreeSkin span.mce_sup {background-position:-620px 0}
.BigTreeSkin span.mce_removeformat {background-position:-580px 0}
.BigTreeSkin span.mce_newdocument {background-position:-520px 0}
.BigTreeSkin span.mce_image {background-position:-380px 0}
.BigTreeSkin span.mce_help {background-position:-340px 0}
.BigTreeSkin span.mce_code {background-position:-260px 0}
.BigTreeSkin span.mce_hr {background-position:-360px 0}
.BigTreeSkin span.mce_visualaid {background-position:-660px 0}
.BigTreeSkin span.mce_charmap {background-position:-240px 0}
.BigTreeSkin span.mce_paste {background-position:-560px 0}
.BigTreeSkin span.mce_copy {background-position:-700px 0}
.BigTreeSkin span.mce_cut {background-position:-680px 0}
.BigTreeSkin span.mce_blockquote {background-position:-220px 0}
.BigTreeSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.BigTreeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.BigTreeSkin span.mce_forecolorpicker {background-position:-720px 0}
.BigTreeSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.BigTreeSkin span.mce_advhr {background-position:-0px -20px}
.BigTreeSkin span.mce_ltr {background-position:-20px -20px}
.BigTreeSkin span.mce_rtl {background-position:-40px -20px}
.BigTreeSkin span.mce_emotions {background-position:-60px -20px}
.BigTreeSkin span.mce_fullpage {background-position:-80px -20px}
.BigTreeSkin span.mce_fullscreen {background-position:-100px -20px}
.BigTreeSkin span.mce_iespell {background-position:-120px -20px}
.BigTreeSkin span.mce_insertdate {background-position:-140px -20px}
.BigTreeSkin span.mce_inserttime {background-position:-160px -20px}
.BigTreeSkin span.mce_absolute {background-position:-180px -20px}
.BigTreeSkin span.mce_backward {background-position:-200px -20px}
.BigTreeSkin span.mce_forward {background-position:-220px -20px}
.BigTreeSkin span.mce_insert_layer {background-position:-240px -20px}
.BigTreeSkin span.mce_insertlayer {background-position:-260px -20px}
.BigTreeSkin span.mce_movebackward {background-position:-280px -20px}
.BigTreeSkin span.mce_moveforward {background-position:-300px -20px}
.BigTreeSkin span.mce_media {background-position:-320px -20px}
.BigTreeSkin span.mce_nonbreaking {background-position:-340px -20px}
.BigTreeSkin span.mce_pastetext {background-position:-360px -20px}
.BigTreeSkin span.mce_pasteword {background-position:-380px -20px}
.BigTreeSkin span.mce_selectall {background-position:-400px -20px}
.BigTreeSkin span.mce_preview {background-position:-420px -20px}
.BigTreeSkin span.mce_print {background-position:-440px -20px}
.BigTreeSkin span.mce_cancel {background-position:-460px -20px}
.BigTreeSkin span.mce_save {background-position:-480px -20px}
.BigTreeSkin span.mce_replace {background-position:-500px -20px}
.BigTreeSkin span.mce_search {background-position:-520px -20px}
.BigTreeSkin span.mce_styleprops {background-position:-560px -20px}
.BigTreeSkin span.mce_table {background-position:-580px -20px}
.BigTreeSkin span.mce_cell_props {background-position:-600px -20px}
.BigTreeSkin span.mce_delete_table {background-position:-620px -20px}
.BigTreeSkin span.mce_delete_col {background-position:-640px -20px}
.BigTreeSkin span.mce_delete_row {background-position:-660px -20px}
.BigTreeSkin span.mce_col_after {background-position:-680px -20px}
.BigTreeSkin span.mce_col_before {background-position:-700px -20px}
.BigTreeSkin span.mce_row_after {background-position:-720px -20px}
.BigTreeSkin span.mce_row_before {background-position:-740px -20px}
.BigTreeSkin span.mce_merge_cells {background-position:-760px -20px}
.BigTreeSkin span.mce_table_props {background-position:-980px -20px}
.BigTreeSkin span.mce_row_props {background-position:-780px -20px}
.BigTreeSkin span.mce_split_cells {background-position:-800px -20px}
.BigTreeSkin span.mce_template {background-position:-820px -20px}
.BigTreeSkin span.mce_visualchars {background-position:-840px -20px}
.BigTreeSkin span.mce_abbr {background-position:-860px -20px}
.BigTreeSkin span.mce_acronym {background-position:-880px -20px}
.BigTreeSkin span.mce_attribs {background-position:-900px -20px}
.BigTreeSkin span.mce_cite {background-position:-920px -20px}
.BigTreeSkin span.mce_del {background-position:-940px -20px}
.BigTreeSkin span.mce_ins {background-position:-960px -20px}
.BigTreeSkin span.mce_pagebreak {background-position:0 -40px}
.BigTreeSkin span.mce_restoredraft {background-position:-20px -40px}
.BigTreeSkin span.mce_spellchecker {background-position:-540px -20px}