/*-------------------------------------------
  Griddle - v0.4.1
  A CSS3 Responsive Grid (IE7+)
  Ben Plum <benjaminplum@gmail.com>
-------------------------------------------*/
	/* !Reset */
	* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; *behavior: url(/css/boxsizing.htc); }
	
	/* !Defaults */
	.griddle [class*="row_"] { margin-left: auto; margin-right: auto; width: 960px; }
	.griddle [class*="row_"]:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
	.griddle [class*="row_"] [class*="row"] { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
	.griddle [class*="cell_"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }
	.griddle [class*="cell_"].right { float: right; }
	.griddle [class*="cell_"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }
	
	/* !16 Column */
	.griddle .row_16 .cell_1  { width: 4.166666666667%; }
	.griddle .row_16 .cell_2  { width: 10.416666666667%; }
	.griddle .row_16 .cell_3  { width: 16.666666666667%; }
	.griddle .row_16 .cell_4  { width: 22.916666666667%; }
	.griddle .row_16 .cell_5  { width: 29.166666666667%; }
	.griddle .row_16 .cell_6  { width: 35.416666666667%; }
	.griddle .row_16 .cell_7  { width: 41.666666666667%; }
	.griddle .row_16 .cell_8  { width: 47.916666666667%; }
	.griddle .row_16 .cell_9  { width: 54.166666666667%; }
	.griddle .row_16 .cell_10 { width: 60.416666666667%; }
	.griddle .row_16 .cell_11 { width: 66.666666666667%; }
	.griddle .row_16 .cell_12 { width: 72.916666666667%; }
	.griddle .row_16 .cell_13 { width: 79.166666666667%; }
	.griddle .row_16 .cell_14 { width: 85.416666666667%; }
	.griddle .row_16 .cell_15 { width: 91.666666666667%; }
	.griddle .row_16 .cell_16 { width: 97.916666666667%; }
	
	/* !Push 16 Column */
	.griddle .row_16 .push_1  { margin-left: 6.25%; }
	.griddle .row_16 .push_2  { margin-left: 12.5%; }
	.griddle .row_16 .push_3  { margin-left: 18.75%; }
	.griddle .row_16 .push_4  { margin-left: 25%; }
	.griddle .row_16 .push_5  { margin-left: 31.25%; }
	.griddle .row_16 .push_6  { margin-left: 37.5%; }
	.griddle .row_16 .push_7  { margin-left: 43.75%; }
	.griddle .row_16 .push_8  { margin-left: 50%; }
	.griddle .row_16 .push_9  { margin-left: 56.25%; }
	.griddle .row_16 .push_10 { margin-left: 62.5%; }
	.griddle .row_16 .push_11 { margin-left: 68.75%; }
	.griddle .row_16 .push_12 { margin-left: 75%; }
	.griddle .row_16 .push_13 { margin-left: 81.25%; }
	.griddle .row_16 .push_14 { margin-left: 87.5%; }
	.griddle .row_16 .push_15 { margin-left: 93.75%; }
	
	/* !12 Column */
	.griddle .row_12 .cell_1 { width: 6.25%; }
	.griddle .row_12 .cell_2 { width: 14.5833333333333333%; }
	.griddle .row_12 .cell_3 { width: 22.9166666666666667%; }
	.griddle .row_12 .cell_4 { width: 31.25%; }
	.griddle .row_12 .cell_5 { width: 39.5833333333333333%; }
	.griddle .row_12 .cell_6 { width: 47.9166666666666667%; }
	.griddle .row_12 .cell_7 { width: 56.25%; }
	.griddle .row_12 .cell_8 { width: 64.5833333333333333%; }
	.griddle .row_12 .cell_9 { width: 72.9166666666666667%; }
	.griddle .row_12 .cell_10 { width: 81.25%; }
	.griddle .row_12 .cell_11 { width: 89.5833333333333333%; }
	.griddle .row_12 .cell_12 { width: 97.9166666666666667%; }
	
	/* !Push 12 Column */
	.griddle .row_12 .push_1 { margin-left: 9.375%; }
	.griddle .row_12 .push_2 { margin-left: 17.7083333333333333%; }
	.griddle .row_12 .push_3 { margin-left: 26.0416666666666667%; }
	.griddle .row_12 .push_4 { margin-left: 34.375%; }
	.griddle .row_12 .push_5 { margin-left: 42.7083333333333334%; }
	.griddle .row_12 .push_6 { margin-left: 51.0416666666666667%; }
	.griddle .row_12 .push_7 { margin-left: 59.375%; }
	.griddle .row_12 .push_8 { margin-left: 67.7083333333334%; }
	.griddle .row_12 .push_9 { margin-left: 76.0416666666668%; }
	.griddle .row_12 .push_10 { margin-left: 84.375%; }
	.griddle .row_12 .push_11 { margin-left: 92.7083333333335%; }
	
	/* !6 Column */
	.griddle .row_6 .cell_1 { width: 14.5833333333333333%; }
	.griddle .row_6 .cell_2 { width: 31.25%; }
	.griddle .row_6 .cell_3 { width: 47.9166666666666667%; }
	.griddle .row_6 .cell_4 { width: 64.5833333333333333%; }
	.griddle .row_6 .cell_5 { width: 81.25%; }
	.griddle .row_6 .cell_6 { width: 97.9166666666666667%; }
	
	/* !Push 6 Column */
	.griddle .row_6 .push_1 { margin-left: 17.703333333333333%; }
	.griddle .row_6 .push_2 { margin-left: 34.375%; }
	.griddle .row_6 .push_3 { margin-left: 51.016666666666667%; }
	.griddle .row_6 .push_4 { margin-left: 67.703333333333334%; }
	.griddle .row_6 .push_5 { margin-left: 84.375%; }
	
	/* !Set Breakpoints */
	@media screen and (min-width: 1220px) {
		.griddle [class*="row"] { width: 1200px; }
	}
	@media screen and (max-width: 1220px) {
		.griddle [class*="row"] { width: 960px; }
	}
	@media screen and (max-width: 980px) {
		.griddle [class*="row"] { width: 720px; }
	}
	@media screen and (max-width: 740px) {
		.griddle [class*="row"] { width: 480px; }
	}
	@media screen and (max-width: 500px) {
		.griddle [class*="row"] { width: 300px; }
		.griddle [class*="row"] [class*="cell_"] { width: 97.9166666666666667%; }
		.griddle [class*="row"] [class*="push_"] { margin: 1.0416666666666667%; }
	}