/*-----------------------------------------------------------------------------------
  Global Reset <http://meyerweb.com/eric/tools/css/reset/> v2.0 | 20110126
-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font: inherit; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/*---------------------------
  Fonts
---------------------------*/
@font-face {
	font-family: 'GentiumBookBasic';
	src: url('../fonts/genbkbasr-webfont.eot');
	src: url('../fonts/genbkbasr-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/genbkbasr-webfont.woff') format('woff'),
		 url('../fonts/genbkbasr-webfont.ttf') format('truetype'),
		 url('../fonts/genbkbasr-webfont.svg#GentiumBookBasicRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-regular-webfont.woff') format('woff'),
		 url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-bold-webfont.eot');
	src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-bold-webfont.woff') format('woff'),
		 url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/opensans-extrabold-webfont.eot');
	src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
		 url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
		 url('../fonts/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

/*---------------------------
  Transitions
---------------------------*/
	*, *:link, *:visited, *:hover, *:active, *:focus {
		-webkit-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
		   -moz-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
			-ms-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
			 -o-transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
				transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
	}
		
/*---------------------------
  Elements
---------------------------*/
	body { background: url(../images/bg_pattern.png) repeat center top; overflow-y: scroll; }
	body * { word-wrap: break-word; } /* Webkit Text Wrap Fix */
	
	h1, h2, h3, h4, h5, h6 { color: #222; font-family: 'OpenSans', sans-serif; }
	h1 { font-size: 54px; font-weight: 800; line-height: 75px; margin-bottom: 24px; margin-top: 3px; text-transform: uppercase; }
	h2 { font-size: 34px; font-weight: 800; line-height: 55px; margin-bottom: 18px; text-transform: uppercase; }
	h3 { font-size: 28px; font-weight: 800; margin: 0 0 10px; text-transform: uppercase; }
	h4 { font-size: 18px; font-weight: 800; margin: 0 0 10px; text-transform: uppercase; }
	h5 { }
	h6 { font-size: 14px; text-transform: uppercase; }
	
	h1 a, h2 a { color: #222; }
	
	a { text-decoration: none; }
	a:hover { }
	em { }
	strong { }
	p { color: #222; font-family: 'GentiumBookBasic', serif; font-size: 13px; line-height: 20px; margin: 0 0 20px; }
	
	hr { border: 1px solid #222; border-width: 1px 0; padding-top: 1px; }
	hr.short { clear: both; float: left; width: 300px; }
	
	input, textarea { font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif; font-size: 12px; line-height: 1.3; }
	
	.no_select * {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	
/*-------------------------------------------
  Global
-------------------------------------------*/
	.left { float: left; }
	.block_left { float: left; margin: 0 20px 20px 0; }
	.right { float: right; }
	.block_right { float: right; margin: 0 0 20px 20px; }
	.center { text-align: center; }
	.clear { clear: both; }
	.contain { overflow: hidden; }
	.container { margin-left: auto; margin-right: auto; overflow: hidden; padding: 0 25px; width: 960px; }
	
	.more { border-bottom: 1px dotted #ccc; color: #999; font-family: 'OpenSans', sans-serif; font-size: 10px; line-height: 1.4; text-transform: uppercase; }
	.more:hover { border-color: #222; color: #222; }
	
		
/*-------------------------------------------
  Structure
-------------------------------------------*/
	
	/* MAIN HEADER */
	#header { background: #222; height: 60px; left: 0; position: fixed; top: 0; width: 100%; z-index: 100; }
	#header .branding { color: #fff; display: block; float: left; font-family: 'OpenSans', sans-serif; font-size: 24px; font-weight: 800; line-height: 56px; text-transform: uppercase; }
	#header nav { float: right; }
	#header nav a { color: #fff; display: block; float: left; font-family: 'OpenSans', sans-serif; font-size: 12px; font-weight: 400; letter-spacing: 0.05em; line-height: 1.2; margin: 22px 0 0 30px; padding: 0 0 8px; text-transform: uppercase; }
	#header nav a:hover { border-bottom: 1px dotted #fff; }
	#header nav a.active { border-bottom: 1px dotted #fff; }
	.bigtree_bar_open #header { top: 40px; }
	
	#footer { margin: 68px 0 40px; }
	#footer h6 { font-weight: bold; margin: 0 0 18px; }
	#footer p { margin-top: 24px; }
	#footer img { margin: 12px 20px 10px 0; }
	#footer .address p { color: #666; font-family: 'OpenSans', sans-serif; font-size: 12px; margin-bottom: 2px; }
	#footer .address a { color: #666; }
	#footer .address a:hover { color: #222; }
	#footer .social p { line-height: 20px; margin-top: 22px; }
	#footer .social a { background: url(../images/icon_footer_social.png) no-repeat left top; color: #222; display: block; font-family: 'OpenSans', sans-serif; font-size: 11px; margin: 0 0 18px 20px; padding: 2px 0 0 25px; text-transform: uppercase; }
	#footer .social a:hover { text-decoration: underline; }
	#footer .social .facebook { background-position: 0 0; }
	#footer .social .twitter { background-position: 0 -40px; }
	#footer .social .github { background-position: 0 -79px; }
	
	#footer .copyright { border-top: 1px solid #eee; margin: 33px 10px 0; text-align: center; width: 920px; }
	#footer .copyright p { color: #999; font-family: 'OpenSans', sans-serif; font-size: 11px; margin: 26px 0; }
	
	
	/* PAGES */
	#page { margin: 160px 0 64px; }
	#page.sub h1 { margin-bottom: 13px; }
	#page.sub header { margin: 0 10px 35px; }
	#page.sub p { font-size: 15px; line-height: 20px; }
	
	#page section.loading { margin: 20px 0; }
	#page section.loading .container_12 { background: #F9F9F9 url(../images/loading.gif) no-repeat 20px center; color: #999; font-family: 'OpenSans', sans-serif; font-size: 12px; height: 20px; line-height: 22px; padding: 20px 20px 20px 45px; text-transform: uppercase; width: 874px; }
	
	.subnav { margin: -5px 10px 0; }
	.subnav a { border-bottom: 1px dotted #ccc; color: #999; display: block; font-family: 'OpenSans', sans-serif; font-size: 12px; font-weight: 800; margin: 0; padding: 10px 0 11px; text-transform: uppercase; }
	.subnav a:hover { color: #666; }
	.subnav li { display: block; margin-bottom: 5px;}
	.subnav li li { border: none; margin-bottom: 0; }
	.subnav li li a { padding-left: 20px; }
	.subnav ul ul { padding: 5px 0 1px; }
	.subnav a.active { color: #222; }
	
	
	.content h2 { margin: 36px 0 9px; }
	.content h3 { margin: 31px 0 9px; }
	.content ol, .content ul { color: #222; font-family: 'GentiumBookBasic', serif; font-size: 13px; line-height: 20px; margin: 20px 0 20px 40px; }
	.content ol { list-style: decimal; }
	.content ul { list-style: disc; }
	.content li { font-size: 15px; line-height: 20px; }
	#page .content blockquote { margin: 27px 40px 30px; }
	#page .content blockquote p { font-size: 26px; line-height: 40px; }
	#page .content blockquote cite { display: block; font-size: 15px; font-style: italic; margin: 4px 0 0 40px; }
	
	
	/* WONDER LIST */
	.wonder_list { margin: 17px 0 0; }
	.wonder_list .container_12 { border-top: 1px solid #ccc; width: 940px; }
	.wonder_list article { border-bottom: 1px solid #ccc; color: #222; margin: 0; overflow: hidden; padding: 20px 0 19px; }
	.wonder_list .grid_9 { height: 140px; margin-left: 0; overflow: hidden; }
	.wonder_list .grid_3 { height: 112px; margin-right: 0; padding: 28px 18px 0; width: 184px; }
	.wonder_list img { margin: -15% 0 0; }
	.wonder_list h2 { line-height: 40px; }
	
	
	/* WONDER DETAIL */
	.intro { margin: 0 0 45px; text-align: center; }
	.intro h1 { margin-bottom: 20px; padding-top: 4px; }
	.intro hr { margin: 20px auto 42px; width: 300px; }
	.intro p { color: #222; font-family: 'GentiumBookBasic', serif; font-size: 18px; margin: 0 0 36px; }
	.intro img { margin: 0 0 11px; }
	
	.wiki_history { margin: 40px 0 60px; }
	.wiki_history .container_12 { background: #F9F9F9; padding: 19px 30px 40px; width: 920px; }
	.wiki_history h2 { margin: 0 0 12px; }
	.wiki_history p { color: #222; font-family: 'GentiumBookBasic', serif; font-size: 13px; line-height: 20px; margin: 0 0 20px; }
	.wiki_history .more { border-bottom: 1px dotted #222; color: #222; display: block; float: left; margin: 3px 0 0; }
	.wiki_history .more:hover { border-color: #000; color: #000; }
	
	.instagram_viewer { margin: 60px 0; }
	.instagram_viewer .container_12 { width: 980px; }
	.instagram_viewer .inner { width: 984px; }
	.instagram_viewer h3 { border-bottom: 1px solid #ccc; margin: 0 4px 35px 10px; padding: 0 0 36px; text-align: center; }
	.instagram_viewer .large { height: 600px; margin: 0 20px; position: relative; width: 600px; }
	.instagram_viewer .large figcaption { background: rgba(0, 0, 0, 0.75); bottom: 0; color: #fff; left: 0; opacity: 0; padding: 20px; position: absolute; width: 560px; }
	.instagram_viewer .large p { color: #fff; font-family: 'GentiumBookBasic', serif; font-size: 16px; line-height: 20px; margin: 0 0 5px; }
	.instagram_viewer .large strong { color: #999; display: block; font-family: 'OpenSans', sans-serif; font-size: 10px; line-height: 1.4; text-transform: uppercase; }
	.instagram_viewer .large:hover figcaption { opacity: 1; }
	.instagram_viewer .large p {  }
	.instagram_viewer .thumbnails { margin: 36px 0 0 10px; width: 314px; }
	.instagram_viewer .thumbnails .pic { border: 1px solid transparent; border-radius: 100%; display: block; float: left; height: 66px; margin: 0 6px 12px 6px; width: 66px; }
	.instagram_viewer .thumbnails .pic:hover { border-color: #999; }
	.instagram_viewer .thumbnails .pic span { background-position: center; border-radius: 100%; color: #fff; display: block; font-style: italic; font-size: 40px; height: 60px; line-height: 66px; margin: 3px; text-align: center; width: 60px; }
	.instagram_viewer .thumbnails .end { margin-right: 0; }
	.instagram_viewer .thumbnails .pic.active { border-color: #222; text-indent: -99999px; }
	.instagram_viewer .thumbnails p { border-top: 1px solid #ccc; clear: both; margin: 22px 4px 0 10px; padding: 28px 0 0; }
	.instagram_viewer .thumbnails .more { border-bottom: 1px dotted #ccc; color: #999; }
	.instagram_viewer .thumbnails .more:hover { border-color: #222; color: #222; }
	
	.twitter_timeline { margin: 65px 0 60px; position: relative; }
	.twitter_timeline hr { margin: 17px 0 45px; }
	.twitter_timeline .timeline { height: 236px; overflow: hidden; position: relative; }
	.twitter_timeline .timeline .inner { left: 0; position: absolute; top: 0; width: 10000px; 
		-webkit-transition: left 0.25s ease-out;
		   -moz-transition: left 0.25s ease-out;
			-ms-transition: left 0.25s ease-out;
			 -o-transition: left 0.25s ease-out;
				transition: left 0.25s ease-out;
	}
	.twitter_timeline .timeline article { border-top: 1px solid #ccc; margin-top: 35px; padding-top: 46px; }
	.twitter_timeline .timeline p { font-size: 13px; font-family: "GentiumBookBasic", serif; line-height: 20px; margin-bottom: 24px; }
	.twitter_timeline .timeline a { color: #999; border-bottom: 1px dotted #ccc; }
	.twitter_timeline .timeline a:hover { border-color: #222; color: #222; }
	.twitter_timeline .timeline strong { display: block; color: #999; font-family: 'OpenSans', sans-serif; font-size: 10px; text-transform: uppercase; }
	.twitter_timeline .timeline article:hover { border-color: #222; }
	.twitter_timeline .timeline article:hover a { color: #222; }
	.twitter_timeline .timeline article:hover strong { color: #222; }
	.twitter_timeline .triggers { position: absolute; right: 0; top: 36px; }
	.twitter_timeline .trigger { background: #222 url(../images/icon_twitter_triggers.png) no-repeat left center; cursor: pointer; display: block; height: 100px; text-indent: -99999px; width: 20px; }
	.twitter_timeline .disabled { background-color: #ccc; }
	.twitter_timeline .previous { background-position: -20px center; }
	.twitter_timeline .previous.disabled { background-position: 0 center; }
	.twitter_timeline .next { background-position: -60px center; }
	.twitter_timeline .next.disabled { background-position: -40px center; }
	
	.youtube_videos h3 { margin: 16px 0 16px; }
	.youtube_videos .grid_4 { height: 300px; }
	