.check_form {}

.check_form_fieldsets {
	margin-bottom: 45px;
}

.check_form_fieldset {
	border: 0;
	margin: 0 0 25px;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.check_form_legend {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 10px;
}

.check_form_submit {
	@include button_text_fill;
}
