.component {
	border-top: 1px solid $mist;
	padding: 20px;

	@media #{$min_lg} {
		padding-right: 40px;
		padding-left: 40px;
	}

	&:last-child {
		padding-bottom: 100px;
	}

	&.layout_expanded {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&.collapsed {
		background: #F0F0F2;
	}
}

.component_title {
	align-items: center;
	display: flex;
	margin: 0 0 20px;

	.collapsed & {
		margin-bottom: 0;
	}
}

.component_expander {
	height: 30px;
	width: 30px;

	position: relative;

	background: none;
	border: 1px solid $mist;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 10px;
	margin-left: -5px;

	.collapsed &,
	&.collapsed {
		background: $primary_color;
		border-color: transparent;
		color: #fff;
	}

	&.disabled {
		opacity: 0.25;
		pointer-events: none;
	}
}

.component_expander_icon {
	position: absolute;
	top: 50%;
	left: 50%;

	pointer-events: none;
	transform:
		translate(-50%, -50%)
		scale(.75)
		rotateX(0);

	.collapsed & {
		transform:
			translate(-50%, -50%)
			scale(.75)
			rotateX(180deg);
	}

	&:first-child {
		margin-top: -5px;
	}

	&:last-child {
		margin-top: 5px;
	}
}

.component_title_icon {
	color: $gray;
	margin-right: 5px;
}

.component_title_label {
	font-size: 20px;
}

.component_body {

	.collapsed & {
		display: none;
	}
}

.component_links {}

.component_link {
	@include button_just_text;

	margin: 4px 0;
}
