.login_body {
	background: $green;
}

.login_form_block {
	width: 100%;
	
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 20px 50px;
}

.login_form {
	max-width: 536px;
	width: 100%;

	display: block;
	margin: 0 auto 50px;
}

.login_form_title {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}

.login_instructions {
	border-bottom: 1px solid $mist;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;

	@media screen and (min-width: 580px) {
		display: flex;
		flex-direction: row;
	}
}

.login_instruction_step {
	flex: 1;
}

.login_form_state {
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 20px 0;
}

.login_instruction_step_title {
	font-size: 12px;
	font-weight: 300;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

.login_instruction_details {
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 15px 0;

	a {
		color: $green;

		&:hover {
			color: $dark;
		}
	}

	ul {
		margin: 0 0 20px 0;
		padding: 0 0 0 20px;
	}

	li {
		margin: 0 0 3px 0;
	}
}

.login_auth_image {
	@media screen and (min-width: 580px) {
		height: 135px;
		margin: 0 0 0 70px;
		width: 135px;
	}

	@media screen and (max-width: 579px) {
		display: block;
	}
}

.login_form_fieldset {
	background: #F8F8FA;
	border: 1px solid #E3E2E3;
	padding: 30px;
}

.login_form_footer {
	text-align: center;
}

.login_form_logo_icon {
	color: #00A370;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;

	.icon_logo {
		height: 36px;
		width: 30px;
	}
}

.login_form_link {
	color: #fff;
	font-size: 12px;
	text-decoration: underline;
}

.login_forgot_password {
	color: $green;
	font-size: 12px;
	line-height: 42px;
	text-decoration: underline;
	float: right;

	&:hover {
		color: $dark;
	}
}
