.table_filters {

	@media #{$min_sm} {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

.table_filter {
	margin: 20px 0;

	@media #{$min_sm} {
		margin: 0;
	}

	&_standalone {
		display: flex;
		justify-content: flex-end;
	}
}

.table {
	width: 100%;

	border-collapse: collapse;
	margin-bottom: 15px;
}

.table_headings {

	@media #{$max_md} {
		display: none;
	}
}

.table_headings_row {}

.table_heading {
	font-size: 8px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 0 10px 5px;
	text-align: left;
	text-transform: uppercase;

	&_image {

		@media #{$min_md} {
			width: 2px;
		}
	}

	&_actions {

		@media #{$min_md} {
			width: 2px;
		}
	}

	&_status {

		@media #{$min_md} {
			width: 2px;

			text-align: center;
		}
	}
}

.table_sort {
	position: relative;

	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	font: inherit;
	letter-spacing: inherit;
	padding: 0;
	text-transform: inherit;
}

.table_sort_label {}

.table_sort_icon {
	position: absolute;
	top: 50%;

	color: $green;
	transform:
		translate(0, -50%)
		scale(.65);

	&_direction {
		left: 100%;

		transform-origin: right center;
		transform:
			translate(0, -50%)
			scale(.65)
			rotateX(0);

		&.flipped {
			transform:
				translate(0, -50%)
				scale(.65)
				rotateX(180deg);
		}
	}
}

.table_body {}

.table_row {
	transition:
		box-shadow .15s,
		opacity .15s;

	@media #{$max_md} {
		border: 1px solid $mist;
		border-top: 0;
	}

	&:first-child {
		border-top: 1px solid $mist;
	}

	&:nth-of-type(odd) {
		background: #fff;
	}

	&:nth-of-type(even) {
		background: $fade;
	}

	&.dragstart {
		opacity: .25;
	}

	&.dragover:not(.dragstart) {
		box-shadow:
			inset 0 3px 0 0 $green,
			inset 3px 0 0 0 $green,
			inset 0 -2px 0 0 $green,
			inset -2px 0 0 0 $green;
	}
}

.table_column {
	font-size: 14px;
	padding: 12px 10px 11px;

	@media #{$max_md} {
		align-items: center;
		display: flex;
		padding: 6px 20px;
	}

	@media #{$min_md} {
		border-bottom: 1px solid $mist;
		padding: 12px 10px 11px;
	}

	@for $i from 2 through 5 {

		[data-level="#{$i}"] & {

			@media #{$max_md} {
				border-left: 4px * ($i - 1) double $mist;
			}
		}
	}

	&.status {
		width: 80px;

		text-align: center;
	}

	&:first-child {

		@media #{$max_md} {
			padding-top: 18px;
		}

		@media #{$min_md} {
			border-left: 1px solid $mist;
		}

		@for $i from 2 through 5 {

			[data-level="#{$i}"] & {

				@media #{$min_md} {
					box-shadow: inset 15px * ($i - 1) 0 0 0 $mist;
					padding-left: 15px * ($i - 1) + 15px;
				}

				@media #{$min_xl} {
					box-shadow: inset 25px * ($i - 1) 0 0 0 $mist;
					padding-left: 25px * ($i - 1) + 15px;
				}
			}
		}
	}

	&:last-child {

		@media #{$max_md} {
			padding-bottom: 18px;
		}

		@media #{$min_md} {
			border-right: 1px solid $mist;
		}
	}
}

.table_colspan {
	position: relative;

	background: $green;
	box-shadow: 0 -1px 0 0 $green;
	color: #fff;
	font-size: 13px;
	padding: 7px 14px 8px;
	text-align: left;
	text-transform: uppercase;
}

.table_column_label {
	font-size: 8px;
	letter-spacing: 1px;
	margin-right: 10px;
	text-align: left;
	text-transform: uppercase;

	@media #{$min_md} {
		display: none;
	}
}

.table_column_content {
	align-items: center;
	display: flex;
}

.table_content_drag_icon {
	display: none;

	@media #{$min_xl} {
		color: $gray;
		cursor: move;
		display: block;
		margin-right: 10px;
	}
}

.table_content_link {
	color: inherit;
	display: block;
	transition: color .15s;

	&:hover,
	&:focus {
		color: $green;
	}
}

.table_content_button {
	width: 100%;

	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	color: inherit;
	display: block;
	font: inherit;
	padding: 0;
	text-align: left;
	transition: color .15s;

	&:hover,
	&:focus {
		color: $green;
	}
}

.table_content_image {
	display: block;

	@media #{$min_md} {
		margin: -6px -5px -5px;
	}
}

.table_content_status {
	height: 14px;
	width: 14px;

	border: 2px solid;
	border-radius: 2px;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;

	&_published {
		background: $lime;
		border-color: $green;
	}

	&_pending,
	&_changed,
	&_scheduled {
		background: $orange;
		border-color: $mandarin;
	}

	&_expired {
		background: $red;
		border-color: $deep_red;
	}
}