*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: 2px solid $lime;
}

html {
	height: 100%;

	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: color 0.15s, border 0.15s, background 0.15s;
}

svg {
	display: block;
	fill: currentColor;
	transition:
		fill .15s,
		stroke .15s;
}

.icon {
	height: 24px;
	width: 24px;
}