*,
*:before,
*:after {
	box-sizing: border-box;
}

*:focus {
	outline: 2px solid $lime;
}

html {
	height: 100%;

	font-family: "Roboto", sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: color 0$base_transition_speed, border 0$base_transition_speed, background 0$base_transition_speed;
}

svg {
	display: block;
	fill: currentColor;
	transition:
		fill $base_transition_speed,
		stroke $base_transition_speed;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.icon {
	height: 24px;
	width: 24px;
}