button {
	font-family: inherit;
}

@mixin button_base($defaults: true) {
	border-radius: 3px;
	color: inherit;
	display: inline-block;
	margin-right: 6px;
	transition: 
		background .15s,
		border .15s,
		color .15s;

	@if $defaults {
		background: #fff;
		border: 1px solid $mist;
		
		&:hover,
		&:focus {
			background: $green;
			border-color: $green;
			color: #fff;
		}
	}
}

@mixin button_with_icon() {
	@include button_base;

	padding: 7px 15px;

	&:hover,
	&:focus {

		[class$="icon"] {
			color: #fff;
		}
	}

	[class$="inner"] {
		align-items: center;
		display: flex;
	}

	[class$="icon"] {
		color: $green;
		margin-right: 5px;
		transition: color .15s;
	}

	[class$="label"] {
		color: inherit;
		font-size: 13px;
	}
}

@mixin button_just_text() {
	@include button_base;

	font-size: 13px;
	padding: 12px 15px 11px;
}

@mixin button_text_fill() {
	@include button_base;

	font-size: 14px;
	font-weight: 700;
	padding: 11px 20px 12px;
}

@mixin button_text_outline() {
	@include button_base(false);

	background: none;
	border: 1px solid #fff;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 20px;

	&:hover,
	&:focus {
		background: #fff;
		border-color: #fff;
		color: $green;
	}
}