.action_menu {
	position: relative;

	display: inline-block;
	vertical-align: top;
}

.action_menu_default {
	align-items: center;
	background: #fff;
	border: 1px solid $mist;
	border-radius: 3px;
	display: flex;
	padding: 0;
	text-align: left;
}

.action_menu_label {
	color: inherit;
	font-size: 13px;
	padding: 10px 20px 10px 10px;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition:
		color .15s,
		text-decoration-color .15s;
	white-space: nowrap;

	&:hover,
	&:focus {
		color: $green;
		text-decoration-color: $green;
	}
}

.action_menu_trigger {
	width: 40px;

	align-items: center;
	background: $fade;
	border: 0;
	border-left: 1px solid $mist;
	border-radius: 0 3px 3px 0;
	box-shadow: 0 0 0 1px transparent;
	color: $gray;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 7px 0;
	transition:
		background .15s,
		color .15s;

	&:hover,
	&:focus {
		background: #fff;
		color: $green;
	}
}

.action_menu_icon {
	pointer-events: none;
}

.action_menu_dropdown {
	width: calc(100% + 22px);

	position: absolute;
	top: -7px;
	left: -11px;
	z-index: 2;

	background: $green;
	border: 2px solid $lime;
	border-radius: 3px;
	display: none;
	list-style: none;
	margin: 0;
	padding: 10px;

	&.action_menu_dropdown_active {
		display: block;
	}

	&.action_menu_dropdown_flipped {
		top: auto;
		bottom: -6px;
	}
}

.action_menu_item {}

.action_menu_link {
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	border-radius: 2px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 6px 10px 5px;
	text-decoration: underline;
	text-decoration-color: transparent;
	transition:
		background .15s,
		text-decoration-color .15s;
	white-space: nowrap;

	&:hover,
	&:focus {
		background: $lime;
		text-decoration-color: #fff;
	}
}