.field {
	border: 0;
	margin-bottom: 24px;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}
}

.field_info {
	padding: 6px 0 12px;
}

.field_header {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;

	@media #{$min_md} {
		display: flex;
		justify-content: space-between;
	}
}

.field_header_group {}

.field_title {
	font-weight: 700;
}

.field_hint {
	color: $dark;
	font-size: 12px;
	font-weight: 400;
}

.field_status {
	transition: color 0.5s;

	&_bad {
		color: $red;
	}

	&_warn {
		color: $orange;
	}

	&_good {
		color: $green;
	}
}

.field_link {
	align-items: center;
	color: $green;
	display: flex;
}

.field_link_label {
	font-weight: 700;
}

.field_link_icon {
	margin-right: 4px;
	transform-origin: right center;
	transform: scale(.65);
}

.field_group {

	@media #{$min_sm} {
		display: flex;
		margin: 0 -4px 8px;
	}

	&:last-child {

		@media #{$min_sm} {
			margin-bottom: 0;
		}
	}
}

.field_wrapper {
	position: relative;

	flex: auto;
	margin-bottom: 8px;

	@media #{$min_sm} {
		margin: 0 4px;
	}
}

.field_label {
	@include visually_hide;
}


// Input
// ++++++++++++++++

.field_input {
	width: 100%;

	-webkit-appearance: none;
	appearance: none;
	border: 1px solid $mist;
	font-size: 14px;
	line-height: 26px;
	padding: 6px 10px;
}

.field_input_textarea {
	min-height: 160px;

	resize: vertical;
}

.field_input_search {
	padding-left: 35px;
}

.field_address {
	@media #{$min_sm} {
		.field_wrapper {
			width: 50%;
		}
	}
}

// Select
// ++++++++++++++++

.field_select_wrapper {
	max-width: 270px;

	position: relative;
}

.field_select {
	max-height: 40px;
	width: 100%;

	appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	border: 1px solid $mist;
	border-radius: 0;
	cursor: pointer;
	display: block;
	font-size: 14px;
	padding: 10px 35px 11px 10px;
}

.field_select_icon {
	position: absolute;
	top: 50%;
	right: 10px;

	pointer-events: none;
	transform: translate(0, -50%);
}


// Image
// ++++++++++++++++

.field_image_wrapper {}

.field_image_actions {
	
	@media #{$min_sm} {
		align-items: center;
		display: flex;
	}
}

.field_image_action {
	@include button_with_icon;

	width: 100%;

	margin-bottom: 4px;

	@media #{$min_sm} {
		width: auto;

		margin-bottom: 0;
	}
}

.field_image_action_label {}

.field_image_action_divider {
	display: none;

	@media #{$min_sm} {
		display: block;
		font-size: 12px;
		margin: 0 8px 0 4px;
		text-transform: uppercase;	
	}
}

.field_image_modifier {

	@media #{$min_sm} {
		display: flex;
	}
}

.field_image_figure {
	background-image: 
		linear-gradient(
			45deg, 
				$mist 25%, 
				transparent 25%, 
				transparent 75%, 
				$mist 75%, 
				$mist 100%
		),
		linear-gradient(
			45deg, 
				$mist 25%, 
				#fff 25%, 
				#fff 75%, 
				$mist 75%, 
				$mist 100%
		);
	background-position: 0px 0px, 8px 8px;
	background-size: 16px 16px;
	border: 1px solid $gray;
	margin: 0 0 10px;
	
	@media #{$min_sm} {
		margin-right: 6px;
		padding: 40px 0;	
	}
}

.field_image_source {
	max-width: 100%;

	display: block;
	margin: 0 auto;
}

.field_image_tools {}

.field_image_tool {
	@include button_text_fill;

	display: block;
	margin-bottom: 4px;
}


// Upload
// ++++++++++++++++

.field_input_upload {
	@include visually_hide;
}

.field_upload_label {
	position: relative;

	max-width: 270px;

	background: #fff;
	border: 1px solid $mist;
	border-radius: 3px;
	cursor: pointer;
	display: block;
	padding: 8px 10px;

	&:after {
		height: 100%;

		position: absolute;
		top: 0;
		right: 0;

		align-items: center;
		background: $fade;
		border-left: 1px solid $mist;
		border-radius: inherit;
		content: "Upload";
		display: flex;
		justify-content: center;
		padding: 0 20px;
		pointer-events: none;
	}

	&.focused {
		border-color: $green;		
	}
}

.field_upload_info {
	margin-top: 10px;
}

.field_upload_hint {
	font-size: 12px;
}

.field_upload_file {
	color: $green;
	font-size: 12px;
	text-decoration: underline;
}

.field_upload_remove {
	appearance: none;
	-webkit-appearance: none;
	background: #363636;
	border: 0;
	border-radius: 3px;
	color: #fff;
	font-size: 10px;
	margin-left: 10px;
	padding: 1px 7px;
	text-transform: uppercase;
}


// Checkbox & Radio
// ++++++++++++++++

.field_choices {
	border: 1px solid $mist;
	border-radius: 3px;
	padding: 5px 10px;
}

.field_choice {
	position: relative;

	display: inline-block;
	margin: 3px 20px 3px 0;
	vertical-align: top;
}

.field_choice_input {
	@include visually_hide;
}

.field_choice_indicator {
	height: 20px;
	width: 20px;

	position: absolute;
	top: 1px;

	background: #fff;
	border: 1px solid $mist;
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	pointer-events: none;
	vertical-align: middle;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;

		content: "";
		transform: 
			translate(-50%, -50%)
			rotate(45deg)
			scale(0);
		transition: transform .05s;

		.field_choice_input:checked + & {
			transform: 
				translate(-50%, -50%)
				rotate(45deg)
				scale(1);
		}
	}
}

.field_choice_indicator_checkbox {

	&:before {
		height: 13px;
		width: 7px;

		border-right: 2px solid $green;
		border-bottom: 2px solid $green;
		margin-top: -2px;
	}
}

.field_choice_indicator_radio {
	border-radius: 50%;

	&:before {
		height: calc(100% - 4px);
		width: calc(100% - 4px);

		background: $green;
		border-radius: inherit;
		box-shadow: inset 0 0 0 1px rgba(#000, .2);
	}
}

.field_choice_label {
	position: relative;
	z-index: 2;

	cursor: pointer;
	font-size: 14px;
	padding-left: 30px;
	user-select: none;
}


// Combo
// ++++++++++++++++

.field_combo {}

.field_combo_group {
	position: relative;
}

.field_combo_icon {
	position: absolute;
	top: 50%;
	left: 8px;

	color: $green;
	pointer-events: none;
	transform: 
		translate(0, -50%)
		scale(.75);
}

.field_combo_choices {
	margin-top: 10px;
}

.field_combo_choice {
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 1px solid #E3E2E3;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	margin-right: 6px;
	vertical-align: top;
	padding: 7px 10px;
	transition: border .15s;

	&:hover,
	&:focus {
		border-color: $green;
	}
}

.field_combo_choice_inner {
	align-items: center;
	display: flex;
}

.field_combo_choice_label {}

.field_combo_choice_icon {
	transform-origin: right center;
	transform: scale(.75);
}


// Matrix
// ++++++++++++++++

.field_matrix_list {}

.field_matrix {}

.field_matrix_headings {
	background: #fff;
	border: 1px solid $mist;
	border-bottom: 0;
	border-radius: 6px 6px 0 0;
}

.field_matrix_heading {
	display: inline-block;
	font-size: 8px;
	padding: 12px 10px;
	text-transform: uppercase;
	vertical-align: top;
}

.field_matrix_body {
	background: $mist;
	margin: 0 -10px -10px;
	padding: 10px;
}

.field_matrix_items {}

.field_matrix_item {
	background: #fff;
	margin-bottom: 1px;

	&:nth-of-type(odd) {
		background: #F8F8FA;
	}
}

.field_matrix_data {}

.field_matrix_detail {}

.field_matrix_form {
	background: #fff;
	display: none;
}

.field_matrix_tools {}

.field_matrix_tool {
	@include button_with_icon;
}

.field_matrix_tool_inner {}

.field_matrix_tool_label {}
