.search {
	max-width: 245px;

	position: relative;

	&:before {
		height: 4px;
		width: 4px;

		position: absolute;
		bottom: 100%;
		left: 16px;

		background: #925813;
		border-radius: 8px;
		box-shadow:
			0 0 0 1px #925813,

			0 0 0 0 $green,
			0 0 0 0 $green,
			0 0 0 0 $green,
			0 0 0 0 $green,

			0 0 0 0 lighten($green, 5%),
			0 0 0 0 lighten($green, 5%),
			0 0 0 0 lighten($green, 5%),
			
			0 0 0 0 lighten($green, 7%),
			0 0 0 0 lighten($green, 7%),
			
			0 0 0 0 lighten($green, 10%);
		content: "";
		opacity: 0;
	}

	&.loading {

		&:before {
			animation: grow 2s infinite;
		}
	}
}

@keyframes grow {

	20% {
		box-shadow:
			0 0 0 1px #925813,

			-12px -8px 0 1.5px $green,
			-4px -8px 0 1.5px $green,
			4px -8px 0 1.5px $green,
			12px -8px 0 1.5px $green,

			-4px -8px 0 0 lighten($green, 5%),
			4px -8px 0 0 lighten($green, 5%),
			4px -8px 0 0 lighten($green, 5%),
			
			-4px -8px 0 0 lighten($green, 7%),
			4px -8px 0 0 lighten($green, 7%),
			
			-4px -8px 0 0 lighten($green, 10%);
		opacity: 1;
	}

	40% {
		box-shadow:
			0 0 0 1px #925813,

			-12px -8px 0 1.5px $green,
			-4px -8px 0 1.5px $green,
			4px -8px 0 1.5px $green,
			12px -8px 0 1.5px $green,

			-8px -16px 0 1px lighten($green, 5%),
			0 -16px 0 1px lighten($green, 5%),
			8px -16px 0 1px lighten($green, 5%),
			
			-8px -16px 0 0 lighten($green, 7%),
			8px -16px 0 0 lighten($green, 7%),
			
			-8px -16px 0 0 lighten($green, 10%);
	}

	60% {
		box-shadow:
			0 0 0 1px #925813,

			-12px -8px 0 1.5px $green,
			-4px -8px 0 1.5px $green,
			4px -8px 0 1.5px $green,
			12px -8px 0 1.5px $green,

			-8px -16px 0 1px lighten($green, 5%),
			0 -16px 0 1px lighten($green, 5%),
			8px -16px 0 1px lighten($green, 5%),
			
			-4px -24px 0 0 lighten($green, 7%),
			4px -24px 0 0 lighten($green, 7%),
			
			-4px -24px 0 -.5px lighten($green, 10%);
	}

	80% {
		opacity: 1;
	}
	
	80%,
	100% {
		box-shadow:
			0 0 0 1px #925813,

			-12px -8px 0 1.5px $green,
			-4px -8px 0 1.5px $green,
			4px -8px 0 1.5px $green,
			12px -8px 0 1.5px $green,

			-8px -16px 0 1px lighten($green, 5%),
			0 -16px 0 1px lighten($green, 5%),
			8px -16px 0 1px lighten($green, 5%),
			
			-4px -24px 0 0 lighten($green, 7%),
			4px -24px 0 0 lighten($green, 7%),
			
			0 -32px 0 -.5px lighten($green, 10%);
	}

	100% {
		opacity: 0;
	}
}

.search_icon {
	position: absolute;
	top: 50%;
	left: 8px;

	color: $green;
	pointer-events: none;
	transform: 
		translate(0, -50%)
		scale(.75);
}

.search_label {
	@include visually_hide;
}

.search_input {
	width: 100%;

	appearance: none;
	-webkit-appearance: none;
	border: 1px solid $mist;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px 20px 11px 35px;
}

.search_submit {
	height: 100%;
	width: 35px;
	
	position: absolute;
	top: 0;
	left: 0;

	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	color: transparent;
	cursor: pointer;
}
