.toast {
	position: absolute;
	top: 0;
	right: 0;

	background: #000;
	border-radius: 3px;
	border-top: 5px solid transparent;
	color: #fff;
	padding: 17px 45px 17px 15px;
	transition:
		opacity .15s,
		visibility .15s;

	&.closed {
		opacity: 0;
		visibility: hidden;
	}

	&.theme_great {
		border-top-color: $lime;
	}

	&.theme_good {
		border-top-color: $orange;
	}

	&.theme_bad {
		border-top-color: $red;
	}
}

.toast_inner {
	align-items: center;
	display: flex;
}

.toast_flag {
	height: 25px;
	width: 25px;

	align-items: center;
	background: $green;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	margin-right: 10px;

	.theme_great & {
		background: $green;
	}

	.theme_good & {
		background: $orange;
	}

	.theme_bad & {
		background: $red;
	}
}

.toast_flag_icon {
	color: #fff;
	transform: scale(.75);

	.theme_good & {
		color: #000;
	}
}

.toast_body {}

.toast_hint {
	display: block;
	font-size: 8px;
	letter-spacing: 1px;
	margin-bottom: 4px;
	text-transform: uppercase;
}

.toast_label {
	display: block;
	font-size: 12px;
}

.toast_close {
	position: absolute;
	top: 0;
	right: 0;

	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: 0;
	color: $gray;
	padding: 6px;
	transition: color .15s;

	&:before {
		height: 16px;
		width: 16px;

		position: absolute;
		top: 50%;
		left: 50%;

		border: 1px solid currentColor;
		border-radius: 16px;
		content: "";
		pointer-events: none;
		transform: translate(-50%, -50%);
	}

	&:hover,
	&:focus {
		color: #fff;
	}
}

.toast_close_icon {
	display: block;
	transform: scale(.5);
}

.toast_close_label {
	@include visually_hide;
}